@charset "UTF-8";

html {
  font-size: 18px;
  height: 100%;
}
html,
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
        'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1;
}

body {
  background: #130d0d;
  margin: 0;
  height: 100%;
  color: #d9d9d7;
}
